/* carousel-responsive-react */
.carousel .thumbs-wrapper {
  margin: 10px;
}

.red {
  color: #db2828;
}

.gray {
  color: rgba(0, 0, 0, 0.6);
}

.py-1r {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-05r {
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
}

.mx-05r {
  margin: 0 0.5rem !important;
}

.mr-05r {
  margin-right: 0.5rem !important;
}

.mb-05r {
  margin-bottom: 0.5rem !important;
}

.mt-05r {
  margin-top: 0.5rem !important;
}

.center-vh {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-block {
  margin: 0 auto !important;
}

.general-form {
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  padding: 1.25rem;
  width: 600px;
  margin: 0 auto;
}

.border-form {
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  padding: 1.25rem;
}

.mt-1r {
  margin-top: 1rem;
}

.mt-2r {
  margin-top: 2rem;
}

.mt-8r {
  margin-top: 8rem;
}

.mb-1r {
  margin-bottom: 1rem;
}

.mb-2r {
  margin-bottom: 2rem;
}

.mb-3r {
  margin-bottom: 3rem;
}

.d-block {
  display: block;
}

.ratings-text {
  text-align: right;
  font-size: 1rem;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.pagination {
  text-align: center;
  margin: 3rem 0;
}

#button-bookmark {
  padding: 0;
  border: 0;
  box-shadow: none;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.map-container {
  position: relative;
  height: 450px;
}

.bold {
  font-weight: bolder;
}

.revenue-chart {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.locationOption:hover {
  cursor: pointer;
  background-color: #e0e0e0 !important;
}
